[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
fastapi = "*"
uvicorn = "*"
websockets = "*"
python3-crdt = "*"
sqlalchemy = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
startdev = 'uvicorn main:app'
